{% extends 'layout.html' %}

{% block title %}
    Correios
{% endblock %}

{% block conteudo %}




<form action="{{url_for('correios')}}" method="POST">
    <h2>Mandar Email</h2>

    <label for="add_nome_livro">Contato:</label>
    <select name="contato" id="">
        {% for contato in contatos %}
            <option value="{{contato['con_email']}}">{{contato['con_nome']}}</option>
        {% endfor %}
    </select>
    <select name="assunto" id="">
        {% for livro in livros %}
            <option value="{{livro['liv_titulo']}}">{{livro['liv_titulo']}}</option>
        {% endfor %}
    </select>
    <label for="">Mensagem:</label>
    <input type="text" placeholder="Insira a mensagem" name = "conteudo">
    <input type="password" placeholder="Insira sua senha" name = "senha">
    <input type="submit" value="Enviar">
</form>
{% endblock %}